body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.calendar {
    max-width: 630px;
    padding: 15px;
    margin: 0 auto;
}
.calendar .title {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
}

.calendar .calendarview {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.calendar .calendarview .input-text:focus {
    z-index: 2;
}

.calendar .calendarview .input-text {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
}

li.line_event:hover{
    color:orangered !important;
}

